/* Section Présentation */

.presentation-container {
    display: flex;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    flex-wrap: wrap;
    opacity: 0;
    transition: opacity 2.5s ease-in-out;

    @media (max-width: $mobile) {
        padding: 0;
    }

    &.visible {
        opacity: 1;
    }

    .photo-laureline {
        flex-shrink: 0;
        width: 70%;
        position: relative;
        z-index: 1;

        @media (max-width: $mobile) {
            width: 100%;
            display: flex;
            justify-content: center; 
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 1rem;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

            @media (max-width: $mobile) {
                width: 60%;
                margin: 0 auto;
            }
        }
    }

    .texte-presentation {
    position: relative;
    background-color: $sand;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    z-index: 2;
    transform: translate(-100px, 50px);

        p {
            text-align: justify;
            margin: 0;
            hyphens: auto;
        }

        @media (max-width: $mobile) {
            width: 100%;
            margin-left: 0;
            transform: none;
        }
    }
}

/* Sections Missions et Valeurs */
.missions-valeurs {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;

    .missions, .valeurs {
        text-align: justify;
        opacity: 0; 
        transition: opacity 1.5s ease-out, transform 1.5s ease-out;
        &.visible {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .missions {
        transform: translateX(100px); 
        margin-bottom: 2em;
    }

    .valeurs {
        transform: translateX(-100px); 
    }
   

    h2 {
        position: relative;
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -15px;
            width: 100%;
            height: 12px;
            color: $yellow;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 20"><path d="M5,10 C50,-5 150,25 195,10" stroke="%23f8c824" stroke-width="10" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat center;
            background-size: contain;
        }
    }

    p {
        width: 80%;
        padding: 0.5em 3em;

        &::before {
            content: "\f058"; 
            font-family: "Font Awesome 5 Free"; 
            font-weight: 900; 
            color:$yellow; 
            margin-right: 10px;
        }
    }
}


/* Section CV */

.columns-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: start;
    max-width: 1000px;
    margin: 2em auto;

    @media (max-width: 768px) {
        grid-template-columns: 1fr; 
    }

    .formations, .experiences {
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        h2 {
            margin-bottom: 10px;
            border-bottom: 3px solid $yellow;
            padding-bottom: 10px;
        }

        h3 {
            font-size: 18px;
            margin: 0;
        }
    }

    .experiences h2 {
        border-color: $blue-green;
    }

    .formation, .experience {
        background: $sand; 
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-left: 5px solid $yellow; 
        transition: opacity 1.5s ease-out, transform 1.5s ease-out;
        opacity: 0;
        transform: translateY(40px);

        .date {
            font-weight: bold;
            margin-top: 5px;
        }
    
        .competences {
            font-size: 14px;
            font-style: italic;
            margin-top: 5px;
        }
    
        .lieu {
            font-size: 14px;
            font-weight: bold;
            margin-top: 5px;
        }
    }

    .experience {
        border-left-color: $blue-green;

        h2 {
            border-color: $blue-green;
        }
    }

    /* Animation d'apparition */
    .formation.visible, .experience.visible {
        opacity: 1;
        transform: translateY(0);
    }

}