.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $blue-green;
    overflow: hidden;

    .hero-content {
        z-index: 2;
        max-width: 800px;

        @media (max-width: 768px) {
            margin: 0 2em; 
        }

        .highlight {
            font-family: 'Georgia', serif;
            font-size: 1.8rem;
            font-style: italic;
            text-transform: none;
            color: $pink; 
        }
        
        .subtitle {
            font-size: 1.4rem;
            margin-bottom: 2em;

            @media (max-width: 768px) {
                font-size: 1.2rem; 
            }
        }

        .cta-button {
            display: inline-block;
            padding: 15px 35px;
            background-color: $pink; 
            color: $white;
            font-style: italic;
            border-radius: 20px;
            border: 2px solid $pink; /* Ajouter une bordure légère au bouton */
            transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .hero-graphic {
        position: absolute;
        bottom: 30px;
        right: 0;
        z-index: 1;
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .graphic-shape {
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }
    }
}

.sites-web {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1.5em 0 3em 0;

    h2 {
        margin-bottom: 2rem;
        position: relative;
        display: flex;
        flex-direction: column; 
        align-items: center;

        &::before {
            content: '';
            position: absolute;
            top: 20%;
            left: 30%; 
            width: 60px; 
            height: 60px; 
            background-image: url("../images/yellow-ellipse.png"); 
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1; 
            transform: translate(-10%, -50%);
        } 
    }

    .dynamic-word {
        font-family: 'Georgia', serif;
        font-style: italic;
        color: $blue-green;
        display: block; 
        margin-top: 1.5rem;
        opacity: 0; 
        transform: translateY(-20px);
        transition: opacity 0.5s ease, transform 0.5s ease;

        &.active {
            opacity: 1; 
            transform: translateY(0); 
        }
    }

    .sites-web-content {
        position: relative; 
        padding-left: 60px; 
        background-image: url("../images/feuille.png");
        background-size: 100px 100px; 
        background-repeat: no-repeat;
        background-position: left center; 

        p {
            line-height: 1.4;
            text-align: justify;
            margin : 2em 4em;
        }
    }

}

.realisations h2 {
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 40%;
        left: 40%; 
        width: 60px; 
        height: 60px; 
        background-image: url("../images/yellow-ellipse.png"); 
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1; 
        transform: translate(-10%, -50%);
    } 
}