.single-photo {
    position: relative;

    figure {
        display: flex; 
        align-items: flex-start;
        box-sizing: border-box; 

        .photo-infos, .photo {   
            flex: 1 1 50%;
            width: 100%;
        }   

            h1 {
                font-style: italic;
                font-weight: 500;
                font-size: 30px;
                line-height: 50px; 
            }

            img {
                max-width: 100%;
                height: auto;
                margin-left: 1em;
            }

            p {
                margin:0
            }
    }

        @media (max-width: $mobile) {
            flex-direction: column-reverse;
            align-items: start;
        }
        
}