.separator {
    height: 4px; 
    background: linear-gradient(90deg, #A3C9A8 0%, #78B48B 100%); 
    border-radius: 4px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}
    
figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 2em 0;

    .infos {
        margin-bottom: 1.5rem;
        width: 100%;

        .meta {
            margin-top: 1rem;

            .technologies-logos {
                    display: flex; 
                    flex-wrap: wrap;
                    gap: 0.5rem; 
                    list-style: none; 
                    padding: 0; 
                    margin: 0;

                    li {
                        display: flex; 
                    }

                    img {
                        width: auto; 
                        height: 50px; 
                        object-fit: contain; 
                        display: inline-block; 
                    }
            }

            .github-link {
                    margin-top: 10px;
                    display: flex;
                    align-items: center; // Alignement vertical avec le texte
                    gap: 0.5rem; // Espacement entre l'icône et le texte
                    margin-left: auto;

                    a img {
                        width: 100px;
                        transition: transform 0.2s ease-in-out;
                    }

                    a:hover img {
                        transform: scale(1.1);
                    }
            }
        }
    }

    .photo-and-content {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        position: relative; /* Assure la superposition correcte */

            @media (max-width: $mobile) {
                flex-direction: column-reverse;
                align-items: center;
            }

            .photo {
                flex: 0 0 40%; 
                max-width: 40%;
                position: relative;
                border-radius: 16px;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    
                @media (max-width: $mobile) {
                    flex: 0 0 100%; 
                    max-width: 100%;
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            .content {
                background-color: $sand;
                padding: 2rem;
                border-radius: 12px;
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
                width: 60%; 
                position: sticky;
                top: 0; /* Débute en haut */
                transition: top 0.3s ease-in-out; /* Animation douce */
                z-index: 2;

                @media (max-width: $mobile) {
                    position: static;
                    width: 100%;
                    max-width: 100%;
                    margin-left: 0;
                    margin-top: 1rem;
                }

                h2 {
                    margin-top:0;
                    font-size: 1.5rem;
                    color: #444;
                }
    
                p {
                    margin: 0;
                    text-align: justify; 
                    font-size: 1.1rem;
                    line-height: 1.6;
                    color: #555;
                }
            }
    }
       
}

.others h2 {
    position: relative;
    margin: 1.5em 0;
    padding-left: 0.9em;

    &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0; 
            width: 60px; 
            height: 60px; 
            background-image: url("../images/yellow-ellipse.png"); 
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1; 
            transform: translate(-10%, -50%);
    }
}



